.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body
    {
        margin: 0;
        padding: 0;
        background-color: hsl(273, 75%, 66%);
        /* background-color: hsl(240, 73%, 65%); */
    }

    .box
    {
        position: absolute;
        border: 2px solid white;
        background-color: white;
        border-radius: 20px;
        width: 50%;
        height: 50%;
        top: 20%;
        left: 25%;
    }

    #img1
    {
        position: absolute;
        width: 70%;
        height: 140%;
        left: -35%;
        opacity: 1;
        bottom: -10%;
    }

    #img2
    {
        position: absolute;
        width: 45%;
        top: 5%;
        left: -5%;
    }

    #img3
    {
        position: absolute;
        width: 25%;
        top: 25%;
        left: -12%;
    }

    .questions
    {
        float: right;
        margin-right: 12%;
    }
    
    .questions img
    {
        cursor: pointer;
    }
    
    .questions h4{
        text-decoration: underline;
        text-underline-offset: 10px;
    }

    .questions p
    {
        width: 50%;
        position: absolute;
    }